USE [PRUEBA_HELP_DESK]
GO
/****** Object:  Table [dbo].[PR_ANEXOS]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR_ANEXOS](
	[ID_ANEXO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TICKET] [int] NULL,
	[FILES_NTEXT] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ANEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PR_DEPARTMENTS]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PR_DEPARTMENTS](
	[ID_DEPARTMENT] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PR_PROBLEM]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PR_PROBLEM](
	[ID_PROBLEM] [int] IDENTITY(1,1) NOT NULL,
	[PROBLEM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROBLEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PR_TICKET]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PR_TICKET](
	[ID_TICKET] [int] IDENTITY(1,1) NOT NULL,
	[USER_CREATED] [int] NULL,
	[USER_ASIGNED] [int] NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[COMMENTARY] [varchar](150) NULL,
	[ID_PROBLEM] [int] NULL,
	[ID_DEPARTMENT_ASIGNED] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CLOSED_DATE] [datetime] NULL,
	[ID_STATE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PR_TICKET_STATE]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PR_TICKET_STATE](
	[ID_STATE] [int] IDENTITY(1,1) NOT NULL,
	[STATE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PR_USER_FOLLOWED]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR_USER_FOLLOWED](
	[ID_FOLLOW] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER_FOLLOWED] [int] NULL,
	[ID_USER_FALLOW] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FOLLOW] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PR_USERS]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PR_USERS](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](70) NULL,
	[ID_ROL] [int] NULL,
	[USER_NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](max) NULL,
	[ACTIVE] [bit] NULL,
	[ID_DEPARMENT] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PR_USERS_ROL]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PR_USERS_ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW_REPORTE_ESTADOS_TICKEt_PR]    Script Date: 14/02/2017 1:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_REPORTE_ESTADOS_TICKEt_PR]
AS

select TK.ID_STATE,
ST.STATE,
COUNT(TK.ID_STATE) AS CANTIDAD

 from pr_ticket TK
inner join PR_TICKET_STATE ST ON ST.ID_STATE=TK.ID_STATE
GROUP BY TK.ID_STATE,ST.STATE

GO
SET IDENTITY_INSERT [dbo].[PR_ANEXOS] ON 

INSERT [dbo].[PR_ANEXOS] ([ID_ANEXO], [ID_TICKET], [FILES_NTEXT]) VALUES (1, 14, NULL)
SET IDENTITY_INSERT [dbo].[PR_ANEXOS] OFF
SET IDENTITY_INSERT [dbo].[PR_DEPARTMENTS] ON 

INSERT [dbo].[PR_DEPARTMENTS] ([ID_DEPARTMENT], [DEPARTMENT]) VALUES (1, N'Digitacion')
INSERT [dbo].[PR_DEPARTMENTS] ([ID_DEPARTMENT], [DEPARTMENT]) VALUES (2, N'Almacen')
INSERT [dbo].[PR_DEPARTMENTS] ([ID_DEPARTMENT], [DEPARTMENT]) VALUES (3, N'Informatica')
SET IDENTITY_INSERT [dbo].[PR_DEPARTMENTS] OFF
SET IDENTITY_INSERT [dbo].[PR_PROBLEM] ON 

INSERT [dbo].[PR_PROBLEM] ([ID_PROBLEM], [PROBLEM]) VALUES (1, N'AVERIA DE PC')
INSERT [dbo].[PR_PROBLEM] ([ID_PROBLEM], [PROBLEM]) VALUES (2, N'AVERIA DE TELEFONO')
SET IDENTITY_INSERT [dbo].[PR_PROBLEM] OFF
SET IDENTITY_INSERT [dbo].[PR_TICKET] ON 

INSERT [dbo].[PR_TICKET] ([ID_TICKET], [USER_CREATED], [USER_ASIGNED], [DESCRIPCION], [COMMENTARY], [ID_PROBLEM], [ID_DEPARTMENT_ASIGNED], [CREATED_DATE], [CLOSED_DATE], [ID_STATE]) VALUES (1, 1, 1, NULL, NULL, NULL, 5, CAST(N'2017-02-10 20:55:18.290' AS DateTime), NULL, 2)
INSERT [dbo].[PR_TICKET] ([ID_TICKET], [USER_CREATED], [USER_ASIGNED], [DESCRIPCION], [COMMENTARY], [ID_PROBLEM], [ID_DEPARTMENT_ASIGNED], [CREATED_DATE], [CLOSED_DATE], [ID_STATE]) VALUES (2, 1, 1, NULL, N'tewtewtrtt', NULL, 5, CAST(N'2017-02-10 20:55:32.920' AS DateTime), CAST(N'2017-02-11 22:55:33.783' AS DateTime), 3)
INSERT [dbo].[PR_TICKET] ([ID_TICKET], [USER_CREATED], [USER_ASIGNED], [DESCRIPCION], [COMMENTARY], [ID_PROBLEM], [ID_DEPARTMENT_ASIGNED], [CREATED_DATE], [CLOSED_DATE], [ID_STATE]) VALUES (3, 1, 1, NULL, NULL, NULL, 5, CAST(N'2017-02-10 20:56:05.250' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[PR_TICKET] OFF
SET IDENTITY_INSERT [dbo].[PR_TICKET_STATE] ON 

INSERT [dbo].[PR_TICKET_STATE] ([ID_STATE], [STATE]) VALUES (1, N'Sin Asignar')
INSERT [dbo].[PR_TICKET_STATE] ([ID_STATE], [STATE]) VALUES (2, N'En Proceso')
INSERT [dbo].[PR_TICKET_STATE] ([ID_STATE], [STATE]) VALUES (3, N'Cerrado')
SET IDENTITY_INSERT [dbo].[PR_TICKET_STATE] OFF
SET IDENTITY_INSERT [dbo].[PR_USER_FOLLOWED] ON 

INSERT [dbo].[PR_USER_FOLLOWED] ([ID_FOLLOW], [ID_USER_FOLLOWED], [ID_USER_FALLOW]) VALUES (1, 1, 2)
INSERT [dbo].[PR_USER_FOLLOWED] ([ID_FOLLOW], [ID_USER_FOLLOWED], [ID_USER_FALLOW]) VALUES (2, 2, 1)
INSERT [dbo].[PR_USER_FOLLOWED] ([ID_FOLLOW], [ID_USER_FOLLOWED], [ID_USER_FALLOW]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PR_USER_FOLLOWED] OFF
SET IDENTITY_INSERT [dbo].[PR_USERS] ON 

INSERT [dbo].[PR_USERS] ([ID_USER], [NAME], [ID_ROL], [USER_NAME], [PASSWORD], [ACTIVE], [ID_DEPARMENT], [CREATED_DATE]) VALUES (1, N'edgar jimenez', 2, N'admin', N'21232f297a57a5a743894a0e4a801fc3', 1, 4, CAST(N'2017-02-10 20:12:03.063' AS DateTime))
INSERT [dbo].[PR_USERS] ([ID_USER], [NAME], [ID_ROL], [USER_NAME], [PASSWORD], [ACTIVE], [ID_DEPARMENT], [CREATED_DATE]) VALUES (2, N'carlos perez', 1, N'root', N'63a9f0ea7bb98050796b649e85481845', 1, 2, CAST(N'2017-02-12 20:53:47.297' AS DateTime))
INSERT [dbo].[PR_USERS] ([ID_USER], [NAME], [ID_ROL], [USER_NAME], [PASSWORD], [ACTIVE], [ID_DEPARMENT], [CREATED_DATE]) VALUES (3, N'jose perez', 1, N'jjimenez', N'e10adc3949ba59abbe56e057f20f883e', 1, 2, CAST(N'2017-02-13 18:35:29.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[PR_USERS] OFF
SET IDENTITY_INSERT [dbo].[PR_USERS_ROL] ON 

INSERT [dbo].[PR_USERS_ROL] ([ID_ROL], [ROL]) VALUES (1, N'Soporte')
INSERT [dbo].[PR_USERS_ROL] ([ID_ROL], [ROL]) VALUES (2, N'Desarrollo')
INSERT [dbo].[PR_USERS_ROL] ([ID_ROL], [ROL]) VALUES (3, N'Otros')
SET IDENTITY_INSERT [dbo].[PR_USERS_ROL] OFF
ALTER TABLE [dbo].[PR_ANEXOS]  WITH CHECK ADD FOREIGN KEY([ID_TICKET])
REFERENCES [dbo].[PR_TICKET] ([ID_TICKET])
GO
ALTER TABLE [dbo].[PR_TICKET]  WITH CHECK ADD FOREIGN KEY([ID_DEPARTMENT_ASIGNED])
REFERENCES [dbo].[PR_DEPARTMENTS] ([ID_DEPARTMENT])
GO
ALTER TABLE [dbo].[PR_TICKET]  WITH CHECK ADD FOREIGN KEY([ID_PROBLEM])
REFERENCES [dbo].[PR_PROBLEM] ([ID_PROBLEM])
GO
ALTER TABLE [dbo].[PR_TICKET]  WITH CHECK ADD FOREIGN KEY([ID_STATE])
REFERENCES [dbo].[PR_TICKET_STATE] ([ID_STATE])
GO
ALTER TABLE [dbo].[PR_TICKET]  WITH CHECK ADD FOREIGN KEY([USER_CREATED])
REFERENCES [dbo].[PR_USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[PR_TICKET]  WITH CHECK ADD FOREIGN KEY([USER_ASIGNED])
REFERENCES [dbo].[PR_USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[PR_USER_FOLLOWED]  WITH CHECK ADD FOREIGN KEY([ID_USER_FOLLOWED])
REFERENCES [dbo].[PR_USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[PR_USER_FOLLOWED]  WITH CHECK ADD FOREIGN KEY([ID_USER_FALLOW])
REFERENCES [dbo].[PR_USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[PR_USERS]  WITH CHECK ADD FOREIGN KEY([ID_DEPARMENT])
REFERENCES [dbo].[PR_DEPARTMENTS] ([ID_DEPARTMENT])
GO
ALTER TABLE [dbo].[PR_USERS]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[PR_USERS_ROL] ([ID_ROL])
GO
